<div class="main-res-list">
<div class="row mt-3 mb-3">
    <div class="col-2"></div>
    <div class="col-6">
        <div class="input-group ">
            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search cuisines, food etc" aria-label="Input group example" aria-describedby="btnGroupAddon">
            <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon" style="cursor:pointer" (click)="searchRestaurants()"><i class="fa fa-search"></i></div>
            </div>
        </div>
    </div>
    <div class="col-2">
        
        <button class="btn mr-3" [ngClass]="{'btn-primary': ratingSort,'btn-secondary': !ratingSort }" (click)="sortByRating()">Rating</button>
        <button class="btn" [ngClass]="{'btn-primary': disSort,'btn-secondary': !disSort }" (click)="sortByDistance()">Distance</button>
    </div>   
    <div class="col-2"></div> 
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div *ngIf="!isEmpty(response)">
            <div class="card">{{response.businesses.length}} restaurants found</div>
            <table class="table table-sm table-hover table-dark">
                <thead>
                    <tr>
                        <th>
                        
                        </th>
                        <th>
                            Restaurant
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Distance
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Rating
                        </th>
                </tr>
            </thead>
            <tbody>   
            <tr *ngFor="let item of response.businesses" style="cursor: pointer;" (click)="gotoRestaurantInfo(item)">
              <td><img width="50" height="50" src="{{item.image_url}}" /></td>
              <td>
                  <a>{{item.name}}</a>
              </td>
              <td>
                  {{item.location.address1}}, {{item.location.city}} - {{item.location.state}}, {{item.location.zip_code}}
              </td>
              <td>
                  {{calculateDistance(item.distance)}}
              </td>
              <td>{{item.price}}</td>
              <td>          
                <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                  
                  <ngb-rating [(rate)]="item.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                  
              </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-2"></div>
</div>
</div>

