<div class="main-res-list">
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="input-group mb-3">
            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search cuisines, food etc" aria-label="Input group example" aria-describedby="btnGroupAddon">
            <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon" style="cursor:pointer" (click)="searchRestaurants()"><i class="fa fa-search"></i></div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <button class="btn btn-primary" (click)="sortByRating()">Rating</button>
    </div>    
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div *ngIf="!isEmpty(response)">
            <table class="table table-sm table-hover table-dark">
                <thead>
                    <tr>
                        <th>
                        
                        </th>
                        <th>
                            Restaurant
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Distance
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Rating
                        </th>
                </tr>
            </thead>
            <tbody>   
            <tr *ngFor="let item of response.businesses" style="cursor: pointer;" (click)="gotoRestaurantInfo(item)">
              <td><img width="50" height="50" src="{{item.image_url}}" /></td>
              <td>
                  <a>{{item.name}}</a>
              </td>
              <td>
                  {{item.location.address1}}, {{item.location.city}} - {{item.location.state}}, {{item.location.zip_code}}
              </td>
              <td>
                  {{calculateDistance(item.distance)}}
              </td>
              <td>{{item.price}}</td>
              <td>          
                <!-- <ngb-rating [rate]="item.rating"></ngb-rating> -->
                <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                  
                  <ngb-rating [(rate)]="item.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                  
              </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-2"></div>
</div>
</div>

