<div *ngIf="!isEmpty(itemList)">
    <table class="table table-sm table-dark">
        <thead>
            <tr>
                <th scope="col">Restaurant</th>
                <th scope="col">Food Type</th>
                <th scope="col">Comments</th>
                <th scope="col">Quantity</th>
                <th scope="col">Food Expiry</th>
                <th scope="col"></th>
            </tr>
        </thead>
    <tbody>
        <tbody>
            <tr *ngFor="let item of itemList">
                <td>{{item.restaurantName}}</td> 
                <td>{{item.foodType}}</td>
                <td>{{item.comments}}</td>
                <td>{{item.serves}}</td>
                <td>{{formatDate(item.useBy)}}</td>
                <td>
                    <button type="button" class="btn btn-primary" class="btn btn-lg btn-outline-primary" (click)="open(item.restaurantName)"> Contact</button>
                </td>
            </tr>
    </tbody>
</table>
</div>


