<p>reviews-restaurant works!</p>
<button (click)="getReviews()">Check Reviews</button>

<div class="card-body">

<div *ngIf="!isEmpty(reviewsList)">
    <div *ngFor="let item of reviewsList.reviews">
        <div class="row">
            <div class="col-9 alert alert-primary" role="alert">
                <div class="h5 text-primary pt-3">{{item.user.name}}</div>
                {{item.text}}
                <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                  
                  <ngb-rating [(rate)]="item.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                  <div class="text-muted">{{item.time_created}}</div>
            </div>
            <div class="col-3">
                <img width="100px" height="100px" [src]="item.user.image_url" />
            </div>
        </div>
    </div>
</div>
</div>
    
