
<img width="200" height="200" src="{{restaurantDetail.image_url}}" />
<h1>{{restaurantDetail.name}}</h1>
<h3>{{restaurantDetail.location.address1}}, {{restaurantDetail.location.city}} - {{restaurantDetail.location.state}}, {{restaurantDetail.location.zip_code}}</h3>
<google-map  height="300px"
width="300px"
[zoom]="zoom"
[center]="center"
[options]="options">
 <map-marker
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
  >
  </map-marker></google-map>
  

  <span *ngFor="let image of _album; let i=index">
    <img width="100px" height="130px" [src]="image.thumb" (click)="open(i)" />
  </span> 
<div class="row">
  <div class="col-1">Add to Favorites</div>
   
<div class="col-11">
  <ng-template #f let-fill="fill">
    <span class="star" [class.full]="fill === 100">
      <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
    </span>
  </ng-template>
  
  <ngb-rating [(rate)]="favorite" [starTemplate]="f" [readonly]="false" [max]="1" (click)="addToFav()"></ngb-rating></div>
</div>
  

  <app-reviews-restaurant [restaurantId]="restaurantDetail.id">

  </app-reviews-restaurant>

